<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <!--Here is my headings and paragraphs about me!.-->
    <h1>Facts about me!</h1>
    <h2>Fact 1: Languages</h2>
    <p>I grew up speaking <strong>Chinese</strong> and <strong>English</strong>. I spoke Chinese at home and English at school.
        But, over the years, English has become my <em>main</em> language.</p>
    <p>I learned <em>French</em> for 6 years at school. Grammar and listening are the hardest. I also forgot everything
        since I don't use it as much.</p>

    <h2>Fact 2: Travel</h2>
    <p>I have been to China to visit relatives, but <strong>only</strong> in one province and not anywhere else.
        It's been over <em>10</em> years since I last visited</p>
    <p>I have <strong>never</strong> travelled to any other country. In the US, the only other state I have travelled to
        is New York. It's <em>also</em> to visit relatives.</p>
    <!--Here are the unordered and ordered list.-->
    <h3>Favorite Sweets</h3>

    <ul>
        <li>Fresh Cream with Fruits Cake</li>
        <li>Tiramisu</li>
        <li>Mooncake</li>
    </ul>

    <h3>Favorite Things To Do</h3>

    <ol>
        <li>Read books</li>
        <li>Cleaning</li>
        <li>Baking</li>
    </ol>
    <!-- Here is the table for courses I've taken and during which semester.-->
    <table>
        <tr>
            <th>Courses Taken</th>
            <th>When I Took Those Courses</th>
        </tr>
        <tr>
            <td>BMGT380</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT495</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
    </table>
    <!-- These are the links to my two favorite websites and to the hello.html page.-->
    <p>A link to the <a href="http://127.0.0.1:5000/hello">hello.html</a> page.</p>
    <p>A link to <a href="https://tasty.co/recipe/the-best-fudgy-brownies">my first favorite website.</a></p>
    <p>A link to <a href="https://www.thriftbooks.com/" target="blank">my second favorite website.</a></p>

    <p>Here is the Smith logo!!</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith logo" width="267" height="72" />
</body>
</html>