<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1>Facts about me!</h1>
    <h2>Fact 1: Languages</h2>
    <p>I grew up speaking <strong>Chinese</strong> and <strong>English</strong>. I spoke Chinese at home and English at school.
        But, over the years, English has become my <em>main</em> language.</p>
    <p>I learned <em>French</em> for 6 years at school. Grammar and listening are the hardest. I also forgot everything
        since I don't use it as much.</p>

    <h2>Fact 2: Travel</h2>
    <p>I have been to China to visit relatives, but <strong>only</strong> in one province and not anywhere else.
        It's been over <em>10</em> years since I last visited</p>
    <p>I have <strong>never</strong> travelled to any other country. In the US, the only other state I have travelled to
        is New York. It's <em>also</em> to visit relatives.</p>
</body>
</html>